* {
    background: #051449;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
}

.logo {
    padding: 10px;
    margin-left: 10px;
    height: 100px;
    width: 100px;
    left: 40px;
    top: 40px;
    border-radius: 0px;

}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.areadetexto {
    border: none;
    color: lightgray;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: #0a3871;
}

.areadetexto:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 60px;
    padding-left: 28px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}




.boton-desencrpitar {
    background-color: lightblue;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;

}


.boton-desencrpitar:hover{
    background-color: lightblue;
    font-size: 40px; 
}

.boton-encriptar {
    background-color: lightblue;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
}


.boton-encriptar:hover{
    background-color: lightblue;
    font-size: 40px; 
}

.copiar {
    background-color: lightblue;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}


.copiar:hover{
    background-color: lightblue;
    font-size: 40px; 
}

.instrucciones {
    color: white;
    font-size: 18px;
}